---
 const personalImageAlt = "Edwin Delgado picture"
---

<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-800 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Edwin Delgado. Actualmente soy estudiante de Informática y tecnología Multimedia. Me encuentro en estos momentos <strong
        >abierto a formar parte de un equipo de trabajo para aportar mis conocimientos</strong
      >.
    </p>

    <p>
      He trabajado en varios ambitos del medio <strong
        >como creador y administrador de sitios web para la Universidad de Costa Rica</strong
      >. Así como apoyo en soporte de TI para la misma institución.
    </p>

    <p>
      Como freelancer he realizado algunos proyectos, <strong
        >haciendo uso de distintas tecnologías del mundo de la programación</strong
      >. Mi objetivo es dar lo mejor de mi para que las empresas puedan dar lo mejor de ellas.
    </p>
  </div>

  <img src="/me.png" class="rounded-full size-64 order-1 md:order-2" alt={personalImageAlt}/>

</section>
