---
 const personalImageAlt = "Edwin Delgado picture"
---

<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-800 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      My name is Edwin Delgado. I am currently a student of Computer Science and Multimedia Technology. I am currently<strong
        >open to be part of a work team to contribute with my knowledge.</strong
      >.
    </p>

    <p>
      I have worked in various areas of the environment <strong
        >as a creator and administrator of websites for the University of Costa Rica</strong
      >. As well as IT support for the same institution.
    </p>

    <p>
      As a freelancer I have done some projects, <strong
        >using different technologies from the world of programming and design</strong
      >. My goal is to give the best of me so that companies can give the best of them.
    </p>
  </div>

  <img src="/me.webp" class="rounded-full size-64 order-1 md:order-2" alt={personalImageAlt}/>

</section>
