---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCES = [
  {
    date: "01/2021 - 03/2024",
    title: "IT Specialist | University of Costa Rica - IT Department | PROLEDI",
    description: "•- Development of .NET applications using the ASP.NET MVC framework, implementation of Restful APIS, and use of libraries such as Entity Framework Core and JSON Web Token to ensure robustness and high security.•- Creation of highly secure applications with emphasis on data and system protection.•- - Previous experience in application development using JavaScript and Python, as well as in the creation of desktop applications using Java, always with a strong focus on security.•- Basic experience in managing cloud services such as AWS and Azure.•- Rapid web application development using WordPress content management system.",
  },
  {
    date: "01/2022 - 03/2024",
    title: "Graphic Designer and Multimedia Producer | University of Costa Rica - General Teaching Coordination | PROLEDI",
    description: "•- Captured advertising photographs and videos for various projects, ensuring visual quality and compliance with marketing objectives.•- Branding and corporate branding production, implementing updated design standards.•- Video and photo editing, ensuring a professional end result aligned with industry standards.•- Advanced handling of the Adobe library, including Premiere, Lightroom, Audition and After Effects, to create high quality multimedia content.",
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {EXPERIENCES.map((experience, index) => (
    <li class="mb-10 ms-4">
      <ExperienceItem {...experience} />
    </li>
  ))}
</ol>

