---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCES = [
  {
    date: "01/2021 - 03/2024",
    title: "IT Specialist | Universidad de Costa Rica - Departamento de TI y PROLEDI",
    description: "•- Desarrollo de aplicaciones en .NET utilizando el framework ASP.NET MVC, implementación de APIS Restful, y empleo de bibliotecas como Entity Framework Core y JSON Web Token para garantizar robustez y alta seguridad.•- Creación de aplicaciones altamente seguras con énfasis en la protección de datos y sistemas.•- Experiencia previa en el desarrollo de aplicaciones mediante JavaScript y Python, así como en la creación de aplicaciones de escritorio utilizando Java, siempre con un enfoque destacado en la seguridad.•- Experiencia básica en el manejo de servicios en la nube como AWS y Azure.•- Desarrollo de aplicaciones web rápidas usando el sistema de gestión de contenidos WordPress.",
  },
  {
    date: "01/2022 - 03/2024",
    title: "Diseñador Gráfico y Productor Multimedia | Universidad de Costa Rica - Coordinación General de Docencia | PROLEDI",
    description: "•- Captura de fotografías y videos publicitarios para diversos proyectos, asegurando la calidad visual y el cumplimiento de los objetivos de marketing.•- Producción de branding y creación de marcas corporativas implementando estándares de diseño actualizados.•- Edición de videos y fotografías, garantizando un resultado final profesional y alineado con los estándares de la industria.•- Manejo avanzado de la biblioteca de Adobe, incluyendo Premiere, Lightroom, Audition y After Effects, para crear contenidos multimedia de alta calidad.",
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {EXPERIENCES.map((experience, index) => (
    <li class="mb-10 ms-4">
      <ExperienceItem {...experience} />
    </li>
  ))}
</ol>

