---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "2021 - Actualmente",
    title: "Desarrollador Web Full Stack Mid-Level | HTML, CSS, JS, VUE, .NET, API's",
    description:
      "Freelancer | 2 años de experiencia como desarrollador y administrador del sitio web de la Universidad de Costa Rica - PROLEDI.",
  },
  {
    date: "2021 - Actualmente",
    title: "Diseñador Gráfico UX / UI | Adobe Suit",
    description:
      "Freelancer | 2 años de experiencia como diseñador para la coordinación de docencia de la Universidad de Costa Rica.",
  },
  {
    date: "2021 - Actualmente",
    title: "Desarrollador JAVA Full Stack",
    description:
      "Freelancer | Desarrollo de aplicaciones de escritorio haciendo uso de bases de datos, API's y otros servicios.",
  },
  
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
